<nav class="h-20 flex bg-gray-100 justify-end items-center">
    <ul class="flex w-1/2 justify-around">
        <li routerLinkActive = "active"><a routerLink = "/categories">Categories</a></li>
        <li routerLinkActive = "active"><a routerLink = "/transactions">Transactions</a></li>
        <li routerLinkActive = "active"><a routerLink = "/recurring">Recurring</a></li>
        <li routerLinkActive = "active"><a routerLink = "/trash">Trash</a></li>
        <button>Log out</button>
    </ul>
</nav>