<section class="flex items-center justify-between">
  <aside class="flex items-center gap-4">
    <img
      src="{{ user?.photoURL }}"
      alt="profile"
      loading="lazy"
      class="size-52 rounded-full"
    />
    <h4 class="text-xl">{{ user?.displayName }}</h4>
  </aside>
  <aside>
    <button
      type="button"
      class="text-lg border bg-green-700 rounded-lg text-white p-2 px-4"
      routerLink="edit"
    >
      <a>Edit Profile</a>
    </button>
  </aside>
</section>
<section class="p-8 text-xl flex flex-col gap-4">
  <div class="flex flex-col gap-1">
    <label class="px-2" for="email">Email</label>
    <p class="p-2 border-2 rounded-md">{{ user?.email }}</p>
  </div>
  <div class="flex flex-col gap-1">
    <label class="px-2" for="email">Phone Number</label>
    <p class="p-2 border-2 rounded-md">
      {{ user?.phoneNumber || "Not Provided" }}
    </p>
  </div>
</section>
