<form class="p-4" [formGroup]="addMovement" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title class="relative heading">{{ this.title }}</h1>
  <div mat-dialog-content>
    <button (click)="closePopup()">
      <i class="bi bi-x absolute top-9 right-10 text-[32px] font-bold"></i>
    </button>
    <section class="">
      <label for="date" class="my-2 text-xl mb-5">Enter Date</label>
      <input
        type="date"
        name="date"
        id="date"
        class="input-field"
        formControlName="date"
        [readonly]="isTrashMode"
      />
    </section>

    <!-- Pattern -->
    <section class="my-4">
      <label for="amount" class="my-2 text-xl">Enter Amount</label>
      <input
        type="number"
        name="amount"
        id="amount"
        class="input-field"
        formControlName="amount"
        [readonly]="isTrashMode"
      />
    </section>

    <section class="my-4">
      <label for="categories" class="my-2 text-xl">Select Category</label>
      <select
        name="categories"
        id="categories"
        class="input-field"
        formControlName="category"
      >
        <option
          *ngFor="let category of categories"
          value="{{ category.name }}"
          [disabled]="isTrashMode"
        >
          {{ category.name }}
        </option>
      </select>
    </section>

    <section class="my-4">
      <label for="note" class="my-2 text-xl">Note</label>
      <textarea
        name="note"
        id="note"
        class="input-field mb-2"
        formControlName="note"
        [readonly]="isTrashMode"
      ></textarea>
    </section>
  </div>
  <div mat-dialog-actions>
    <section class="flex gap-4">
      <button
        class="font-bold rounded-lg text-xl w-32 h-14 bg-red-600 text-white justify-center"
        type="button"
        (click)="trash()"
        *ngIf="this.editMode"
      >
        Delete
      </button>
      <button
        *ngIf="isTrashMode"
        class="font-bold rounded-lg text-xl w-32 h-14 bg-green-600 text-white justify-center"
        type="button"
        (click)="restore()"
      >
        Restore
      </button>

      <button
        *ngIf="isTrashMode"
        class="font-bold rounded-lg text-xl w-32 h-14 bg-red-700 text-white justify-center"
        type="button"
        (click)="delete()"
      >
        Delete Permanently
      </button>
      <button
        *ngIf="!isTrashMode"
        class="font-bold rounded-lg text-xl w-32 h-14 bg-[#fb923c] text-white justify-center"
        type="submit"
      >
        Save
      </button>
    </section>
  </div>
</form>
