<div mat-dialog-content>
  <h1 class="text-xl">Restore Movement ?</h1>
</div>
<div mat-dialog-actions>
  <section class="flex gap-4">
    <button
      type="button"
      class="border p-1 px-4 bg-blue-500 rounded-md text-white font-semibold text-lg"
      (click)="restore()"
    >
      Yes
    </button>
    <button
      type="button"
      class="border p-1 px-4 bg-red-500 rounded-md text-white font-semibold text-lg"
      (click)="cancel()"
    >
      Cancel
    </button>
  </section>
</div>
