<div *ngFor="let movement of movements; let i = index">
  <h1
    class="mx-auto my-4 w-9/12 font-semibold text-lg mb-2"
    *ngIf="movementDates[i]"
  >
    {{ movement.date }}
  </h1>
  <div class="flex flex-col items-center">
    <ul class="w-3/5">
      <li
        class="flex justify-between items-center border-2 border-black rounded-2xl py-2 px-10 my-2 cursor-pointer"
        (click)="openPopup(i)"
      >
        <section>
          <h3 class="font-medium">{{ movement.category }}</h3>
          <p>{{ movement.note }}</p>
        </section>
        <span>{{ formatCur(movement.amount) }}</span>
      </li>
    </ul>
  </div>
</div>
