<section class="flex w-full h-screen absolute top-0 left-0 bg-gray-400 bg-opacity-50" *ngIf="openPopup">
    <div class="m-auto h-3/4 w-2/5 bg-white relative rounded-2xl">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 absolute right-6 top-6 cursor-pointer"
        (click)="this.closePopup.emit()">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>

        <form class="flex flex-col w-3/4 mt-20 m-auto" [formGroup]="addCategory" (ngSubmit)="onSubmit()">
            <!-- Cat Name -->
            <label for="cat-name" class="my-2 text-xl">Category Name</label>
            <input id="cat-name" placeholder="Category Name" autocomplete="off" class="cat-name" formControlName = "catName" autocomplete="off" [class.border-red-600]="addCategory.controls.catName.invalid && addCategory.controls.catName.touched">
            <br>
            <!-- Cat Type -->
            <label class="my-2 text-xl h-auto" for="cat-type">Category Type</label>
            <div id="cat-type" class="flex">
                <input type="radio" name="type" value="expense" id="type-1" class="hidden" formControlName = "type">
                <label for="type-1" class="type-label type-1">
                    <span class="p-1">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                    </span>Expense
                </label>
                <input type="radio" id="type-2" name="type" value="income" class="hidden" formControlName = "type">
                <label for="type-2" class="type-label type-2">
                    <span class="p-1">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                    </span>Income
                </label>
            </div>
            <br>
            <!-- Cat Color -->
            <label class="my-2 text-xl h-auto" for="colors">Pick a color</label>
            <div id="colors" class="flex justify-between">
                <input type="radio" name="color" id="red" class="hidden" value="#dc2626" formControlName = "color">
                <label for="red" class="color-label red-lab bg-red-600"></label>
                <input type="radio" name="color" id="blue" class="hidden" value="#2563eb" formControlName = "color">
                <label for="blue" class="color-label blue-lab bg-blue-600"></label>
                <input type="radio" name="color" id="green" class="hidden" value="#16a34a" formControlName = "color">
                <label for="green" class="color-label green-lab bg-green-600"></label>
            </div>
            <br>
            <!-- Favourite -->
             <div class="flex items-center mt-4">
                 <input type="checkbox" class="size-5" id="fav" formControlName = "favourite">
                 <label for="fav" class="ml-4 text-xl h-auto">Set as Favourite</label>
             </div>

            <!-- Submit -->
            <button class="font-bold rounded-lg text-xl w-32 h-14 bg-[#fb923c] text-white justify-center absolute bottom-6 right-6" type="submit">Add</button>
        </form>
    </div>
</section>