@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /* background-color: red; */
}


.input-field {
    @apply bg-gray-50 text-gray-600 border focus:border-transparent rounded-lg ring ring-transparent focus:ring-1 focus:outline-none focus:ring-gray-400 block w-full p-2.5 rounded-l-lg py-3 px-4
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
    background-color: transparent !important;
}

.snack-success {
    background-color: #4caf50 !important;
    color: white !important;
}

.snack-error {
    background-color: #f44336 !important;
    color: white !important;
}